*
!*.*
!*/
*.o
*.pyc
table.h
table.inc
linker.ld
!Makefile
!LICENSE
!utils/num_setter/Makefile
!utils/patcher/Makefile
!libc/Makefile
libc/libc.a
engine/AddRoundKey.c
engine/table.inc
utils/gen-add-round-key/dist-newstyle
!utils/gen-add-round-key/LICENSE
